{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <table class="table">
        <tr>
            <td width="300px"><img src="{{ user.avatar(256) }}"></td>
            <td width="450px">
                <h2>Пользователь: {{ user.username }}</h2>
                {% if user.last_name %}<p>Фамилия: {{ user.last_name }}</p>{% endif %}
                {% if user.first_name %}<p>Имя: {{ user.first_name }}</p>{% endif %}
                {% if user.city_id %}<p>Город: {{ city.name }}</p>{% endif %}
                {% if user.email %}<p>Email: {{ user.email }}</p>{% endif %}
                {% if user.phone %}<p>Телефон: {{ user.phone }}</p>{% endif %}
                {% if user.about_me %}<p>Обо мне, мои интересы: {{ user.about_me }}</p>{% endif %}
            </td>
            {% if user == current_user %}
            <td align="right">
                <p><a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Добавить информацию о себе</a></p>
                <p><a href="{{ url_for('add_capability') }}" class="btn btn-primary">Добавить возможность</a></p>
                <p><a href="{{ url_for('add_need') }}" class="btn btn-primary">Добавить потребность</a></p>
            </td>
            {% endif %}
        </tr>
    </table>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="width: 450px;">
                <h3>Мои возможности:</h3>
            </th>
            <th scope="col">
                <h3>Мои потребности:</h3>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {% for capability in capabilities %}
                <ul>
                    <li>
                        {{ capability.name }}
                        {% if user == current_user %}
                        <a href="" class="btn btn-primary">Удалить</a>
                        {% endif %}
                    </li>
                </ul>
                {% endfor %}
            </td>
            <td>
                {% for need in needs %}
                <ul>
                    <li>
                        {{ need.name }}
                        {% if user == current_user %}
                        <a href="" class="btn btn-primary">Удалить</a>
                        {% endif %}
                    </li>
                </ul>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}